@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,100&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: hsl(0, 0%, 99%);
	background-image: url('https://blog.signaturit.com/hs-fs/hubfs/02-banner-digitalizacion.jpg?width=746&name=02-banner-digitalizacion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3em 0;
}
h2 {
	color: #fff;
}
h3 {
	margin: 2em 0;
	font-size: 1.7rem;
}
.loader {
	position: absolute;
	inset: 0;
	display: flex;
	height: 100vh;
	font-size: 3rem;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
	font-weight: 600;
}
.main-container {
	display: flex;
	max-width: 1080px;
	justify-content: center;
	flex-direction: column;
	padding: 3em;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(5px);
	box-shadow: 1px 5px 8px 6px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	position: relative;
}
.title-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 2em;
}
.gift {
	height: 150px;
	min-width: 150px;
	border-radius: 50%;
	background-image: url('https://media4.giphy.com/media/RiVTBScC3FFUgyv7sk/giphy.gif?cid=ecf05e479g74gqgyqn9i0ip6efjo9fxpytlp0p5bhc262xlw&rid=giphy.gif&ct=g');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	top: 3.5em;
	z-index: 0;
}
.title {
	color: hsl(161, 56%, 44%);
	font-size: 3rem;
	padding: 1em 0;
	text-align: center;
}
.input-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 3em;
	padding: 2em 0;
}
.label-input {
	font-size: 1.2rem;
	font-weight: 600;
}
.input-text {
	border-radius: 5px;
	padding: 12px;
	color: #333;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	border: transparent;
	margin: 10px 0;
	min-width: 340px;
	max-width: 350px;
}
.input-text::placeholder {
	color: #666;
}
.input:focus {
	background-color: #eee;
}
.btn-form {
	font-size: 1.1em;
	padding: 0.7em 1.5em;
	background-color: #43c79d;
	border-radius: 5px;
	border: transparent;
	color: white;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;
}
.btn-form:hover {
	background-color: hsl(161, 91%, 34%);
	transition: background-color 0.25s ease-in-out;
}
.indicator-data {
	font-size: 1.3rem;
}
@media screen and (min-width: 750px) {
	.title-container {
		flex-direction: row;
		column-gap: 3em;
	}
	.input-container {
		flex-direction: row;
		column-gap: 1.5em;
		align-content: center;
	}
	.input-text {
		margin: 0.5em 0;
	}
	.btn-form {
		margin-bottom: 5px;
		align-self: flex-end;
		width: 250px;
	}
}
